<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeltaCompressionDotNet" version="2.0.0.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="FireSharp" version="2.0.4" targetFramework="net48" />
  <package id="FireSharp.Serialization.JsonNet" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net48" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.902.49" targetFramework="net48" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.8.10" targetFramework="net48" />
  <package id="RestSharp" version="106.12.0" targetFramework="net48" />
  <package id="SharpCompress" version="0.28.3" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.114.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.114.4" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.114.3" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.114.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.114.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net48" />
</packages>